asgiref==3.2.7
Django==3.0.7
djangorestframework==3.11.0
Pillow==7.1.2
psycopg2
pytz==2020.1
sqlparse==0.3.1
django-cors-headers
django-filter
django-filters
django-redirect-to-non-www
django-rest-framework
djangorestframework-simplejwt